{% extends "base.html" %}

{% block title_block %}
    <title>Cinema</title>
{% endblock %}

{% block body_block %}
  <!-- <meta id="current_user" data-id="{{current_user.id}}" data-other="{{other}}"> -->
  <a class="btn btn-secondary" onclick="leaving()">Leave</a><br>
  <a>Currently in the room:</a><a id="roster"></a>
  <br>
    <div id="player"></div>
    <script src="{{ url_for('cinema.static', filename='cinema/socket.io.js') }}"></script>
    {% if not current_user.session_id == current_user.room.owner.session_id %}
      <script src="{{ url_for('cinema.static', filename='cinema/watch_as_guest.js') }}"></script>
    {% else %}
      <script src="{{ url_for('cinema.static', filename='cinema/watch_as_owner.js') }}"></script>
    {% endif %}

    <script>
      var sid;
      socket.on('returning_sid', function(data) {
        sid = data;
        console.log(sid)
      });
      function leaving(){
        $.ajax({
          type: "DELETE",
          url: "/leave/" + sid,
          success: function()
            {
              window.location.href = "/";
            },
          error: function(xhr){
              var error = JSON.parse(xhr.responseText);
              alert(error['errors']);
            }
          });
      }
    </script>
  

{% endblock %}